@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 5px;
  font-family: "Roboto", sans-serif;
}


.App-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.App-link {
  color: #61dafb;
}

.btn {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: #ffffff;
}

.player-container {
  text-align: left;
  display: flex;
  flex-direction: row;
}

.audio-container {
  border: 2px solid cornflowerblue;
  
  position: fixed;
  bottom: 0;
  align-self: center;
}

audio {
  margin: 10px;
  width: 90vw;
  min-width: 30em;
}

.playlists-container {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  width: 30%;
  min-width: 200px;
  height: fit-content;
  max-height: 70vh;
}

.playlist-item {
  padding: 5px;
  border-radius: 10px
}

.playlist-item:hover {
  background-color: #cdcdcd;
}

.active-playlist {
  background-color: #dcdcdc;
  border: 1px solid black
}

.song-list-container {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;
  min-width: 40em;
  height: fit-content;
  max-height: 70vh;
}

.song-list-item {
  padding: 5px;
  border-radius: 5px;
  cursor:default;
}


.song-list-item:hover {
  background-color: #cdcdcd;
}

.song-list-info {
  
}

.current-song-item {
  background-color: rgb(223, 223, 223);
  font-weight: bold;
}

.selected-song {
  background-color: #cfdee2;
}

.modal-background {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.modal {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  min-width: 30em;
  min-height: 20em;
  box-shadow: 5px 5px 5px black;
}

#song-list-table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
}

thead {
  border-bottom: 2px solid black;
}

td, th {
  padding: 10px
}

.options-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid black;

}

.options-list-item {
  padding: 5px 10px;
}

.options-list-item:hover {
  background-color: rgb(224, 224, 224);
}